.filterbar {
    height: 420px;
    width: 250px;
    background-color: var(--light-color);
    padding: 20px;
    color: var(--secondary-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type="checkbox"] {
       margin-right: 5px;
}

.filter-label{
  display: flex;
}
