
.filter-button {
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--light-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin-left: 10px;
}
@media screen and (min-width: 600px) {
    .filter-button {
      display: none;
    }

}

