 .card {
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;
      margin: 10px;
    }

    .card img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .card-content {
      padding: 16px;
    }

    .card-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 8px;
    }

    .card-price {
      font-size: 16px;
      color:var(--secondary-color);
      font-weight: bold;
      margin:20px 20px 20px 0;
    }

    .card-btn {
      display: block;
      width: 100%;
      padding: 10px;
      margin: 10px;
      text-align: center;
      background-color:var(--secondary-color);
      color:var(--light-color);
      text-decoration: none;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 12px;
      transition: background-color 0.3s ease;
    }

    .card-btn:hover {
      background-color: #333;
    }