nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: var(--primary-color);
  padding: 10px 20px;
  z-index: 100;
  font-weight: 600;
}

.brand-name {
  flex-grow: 1;
}

.nav-contents {
  display: flex;
  align-items: center;
}

.nav-contents a {
  margin: 0 20px;
  text-decoration: none;
  color: var(--secondary-color);;
  font-weight: 600;
}

.cart-icon {
  background-color: #ccc;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: 2px solid rgb(160, 154, 154);
}

.cart-count {
  padding-left: 5px;
}

@media screen and (max-width: 600px) {
  .nav-contents a {
    display: none; 
  }
}