.search-container {
    display: flex;
}

.search-box {
    padding: 10px;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    ;
}



.search-button {
    padding: 10px;
    background-color: var(--ternery-color);
    color: var(--light-color);
    border: 1px solid var(--ternery-color);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}


@media screen and (max-width: 600px) {
    .search-button {
        background-color: var(--secondary-color);
        border: 1px solid var(--secondary-color);
    }

}